/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 0px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.section-1{
	background-color: grey;
}
.pytrip-button{
	border-radius: 25px;
}
.align-footer{
	text-align: center;
}
.heading-footer {
	font-weight: 600;
}
.follow
{
	display: inline;
}
.social-icon:hover
{
   color: orange;
}
.discount-button
{
	border: 2px solid white;
	border-radius: 25px;
	color: white;
	
	width: 120px;
}
.input-search
{
	
	position: relative;
	left:37%;
	margin: 0 auto;
}
.input-box
{
	display: inline-block;

}
.input-icon
{	
	position: relative;
	top: 10px;
}
.search-box
{
	width: 26%;
}
@media only screen and (max-width: 601px) {
	.search-box
{
	width: 46%;
}
.input-search
{
	position: relative;
	left:25%;
	margin: 0 auto;
}
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #ffb74d;
     box-shadow: 0 1px 0 0 #ffb74d;
   }

.body
{
	margin: 0px;
	padding: 0px;
}