<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>fusion travel</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 

</head>
<body>
  <nav class="grey lighten-5 " role="navigation">
    <div class="nav-wrapper container">
      <ul class="right">
        <li ><a class="black-text nohover"><i class="material-icons left">call</i>Hotline: +616 908765</a></li>
        </ul>
      <ul class="left hide-on-med-and-down ">
        <li><a class="black-text" href="#">Home</a></li>
        <li><a class="black-text" href="#">Services</a></li>
        <li><a class="black-text" href="#">About Us</a></li>
        <li><a class="black-text" href="#">Our Clients</a></li>
        <li><a class="black-text" href="#">Blog</a></li>
        <li><a class="black-text" href="#">Contact us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav center">
        <li><a class="black-text" href="#">Home</a></li>
        <li><a class="black-text" href="#">Services</a></li>
        <li><a class="black-text" href="#">About Us</a></li>
        <li><a class="black-text" href="#">Our Clients</a></li>
        <li><a class="black-text" href="#">Blog</a></li>
        <li><a class="black-text" href="#">Contact us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>
  <div class="section section-1" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Fusion Travel</h1>
      <div class="row center">
        <h5 class="header col s12 light">Let's discover the world together</h5>
      </div>
      <br>
      <div class="row center">
        <a href="#"  class="pytrip-button btn-large waves-effect waves-light orange">Plan Your Trip</a>
      </div>
      <br><br><br><br>

    </div>
  </div>

  <div class="section section-2 " id="country" ng-controller="listCtrl">

    <h4 class="header center black-text">Find Your Destination</h4>
    <h6 class="header center">Most popular places are waiting for you.</h6>
    <br>
    <div class="input-field input-search">
          <div class="input-box search-box">
          <input placeholder="Search" id="first_name"  ng-model="search" type="text" class="validate search-box">
          </div>
          <div class="input-box input-icon">         
          <i class="material-icons">search</i>
          </div>
        </div>
      
        <ul>
          <div class="row container">
          <li ng-repeat="content in contents | filter: search">
           <div class="col s12 l3">
                <div class="card">
                  <div class="card-image">
                    <img ng-src="{{content.picture}}">
                    <span class="card-title black-text">{{content.countryName}}</span>
                  </div>
                 </div>
              </div>    
          </li>
          </div>
        </ul>
        </div>



  <div class="section section-4 orange lighten-2" id="discount">
    <div class="row">
      
      <div class="center">
        <h5 class="white-text ">Get special discount on your first journey</h5>
      </div>
      <div class="center">
        <a   class="discount-button  waves-effect waves-light orange lighten-2 valign-wrapper">Book now</a>
      </div>
    </div>
  </div>

  

  <footer class="page-footer white center-align">
    <div class="container">
      <div class="row">
        
        <div class="col l3 s12">
          <h6 class="heading-footer  black-text">About Us</h6>
          <ul>
            <li><a class="black-text" href="#!">About Us</a></li>
            <li><a class="black-text" href="#!">Blog</a></li>
            <li><a class="black-text" href="#!">Contact Us</a></li>
            
          </ul>
        </div><div class="col l3 s12">
          <h6 class="heading-footer  black-text">Address</h6>
          <ul>
            <li><a class="black-text" href="#!">4433 Heavner Court</a></li>
            <li><a class="black-text" href="#!">Plain View,New York</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="heading-footer  black-text">Contact Us</h6>
          <ul>
            <li><a class="black-text" href="#!">Email: help@agency.com</a></li>
            <li><a class="black-text" href="#!">Cell: +516-260-2345</a></li>
            
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class=" heading-footer black-text">Follow Us</h6>
            <ul class="follow">
            <li><i class="social-icon fa fa-2x fa-facebook-square" aria-hidden="true"></i>
            <i class="social-icon fa fa-2x fa-twitter-square" aria-hidden="true"></i>
            <i class="social-icon  fa fa-2x fa-instagram" aria-hidden="true"></i></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      <a class="black-text text-lighten-3 " >All rights reserved</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="https://use.fontawesome.com/c9b030d949.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
